<main>
    <div class="center-container">
        <div class="intro-container">
            <h1>${title}</h1>
            <p class="fadeInBottom cssanimation">Type in the name of any anime! We'll fetch a synopsis and give you an option to learn more about the
                anime.</p>
            <form method="POST" action="/">
                <label>
                    <input type="text" placeholder="Type an anime name or keyword" name="anime">
                </label>
                <button type="submit" class="learnMoreBtn">SEARCH</button>
                <a href="/" class="learnMoreBtn clearBtn">CLEAR RESULTS</a>
            </form>
    
        </div>
</main>